<h1>user Datiles</h1>
<section class='user'>
<img src="<%= @user.photo%>" alt= 'User Aveter' style="width:20%">
<h2><%= @user.name%></h2>
<p> Number of posts: <%= @user.posts_counter || 0  %></p>
<div>
<h3>Bio</h3>
<p><%= @user.bio%><p>
</div>
<div class = 'recent-posts'>
 <% @user.most_recent_posts.each_with_index do |post,index| %>
    <h3>post#<%=index+1%><h3>
    <p><%= post.text %></p>
 <% end%>
</div>
<a href="<%= @user.id%>/posts">See all posts</a>
</section>